.rower{
    position: relative;
}

.positioner{
    position: absolute;
   
    left: 2px;
    top: 0px;
}
.label {
    inline-size: 300px;
    overflow-wrap: break-word;
}

.sshadow-good{
    box-shadow: 0px 5px 12px 10px rgba(163, 160, 160, 0.507);
    
}