.rower{
    position: relative;
}

.positioner{
    position: absolute;
    background: yellow;
    left: 2px;
    top: 0px;
}
.label {
    inline-size: 300px;
    overflow-wrap: break-word;
}
#ff{
    background: white;
}
.sshadow-good{
    box-shadow: 0px 12px 12px 10px rgba(240, 233, 233, 0.719);
    background: yellowgreen;
}